<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.homecookinrecipes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".RecipeAnalytics">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".ui.DetailActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <provider
            android:name=".data.RecipeProvider"
            android:authorities="com.example.android.homecookinrecipes"
            android:exported="false" />

        <service
            android:name=".sync.ImmediateSyncService"
            android:exported="false" />
        <service
            android:name=".sync.RecipeJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.SpinnerActivity"
            android:label="@string/title_activity_spinner">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ui.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.SpinResult"
            android:label="@string/title_activity_spin_result">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.SpinnerActivity" />
        </activity>

        <receiver android:name=".widget.RecipeWidgetProvider"
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
                <action android:name="com.example.android.homecookinrecipes.ACTION_DATA_CHANGED"/>
            </intent-filter>
            <meta-data android:name="anroid.appwidget.provider"
                android:resource="@xml/widget_info"/>
        </receiver>
        <service android:name=".widget.RecipeWidgetRemoteViewsService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
    </application>

</manifest>